/* WebFont */
@font-face {font-family: 'Wemakeprice-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');}

/* Layout*/
#wrap {
	width: 1500px;
	margin: 0 auto;
	position: relative;
	background: #ffffff;
}

/* HEADER */
#header {
	width: 178px;
	float: left;
	padding: 0 32px 0 33px;
	background: #ffffff;
}
#header > h1 > span {display: none;}
#header h1.logo {margin-top: 33px;}
#header .nav {margin-top: 29px;}
#header .nav li {background: url(../img/blit_arrow.png) no-repeat 168px 17px;}
#header .nav a {display: block; height: 44px; line-height: 44px; transition: all 0.4s ease-in-out; border-bottom: 1px solid #cdcdcd; font-weight: bold; padding-left: 4px; width: 178px; box-sizing: border-box;}
#header .nav a:hover {color: #ffffff; text-align: center; padding-left: 0;}
#header .nav li.on_color a:hover {background: #00519a;}

#tellnum {border-bottom: 1px solid #cdcdcd; padding: 19px 0 18px 0;}
#flow {margin-top: 25px; width: 178px;}
#flow h3 {height: 23px; font-family: 'Wemakeprice-Bold'; font-size: 14px; float: left;}
#flow span {float: right; margin-top: 5px;}
#flow .flow_list {clear: both;}
#flow .flow_list li {float: left; margin: 0 6px 6px 0;}
#flow .flow_list li.no_margin {margin-right: 0;}
#news {margin-top: 19px; float: left; width: 178px;}
#news h3 {font-family: 'Wemakeprice-Bold'; font-size: 14px; float: left;}
#news span{height: 5px; margin-top: 5px; float: right;}
#news ul {float: left; margin-top: 8px;}
#news li {font-size: 13px; line-height: 1.5em; height: 18px; background: url(../img/blit_list.png) no-repeat 2px 7px; padding-left: 8px; overflow: hidden; width: 100%; display: box; display: -moz-box; display: -webkit-box; text-overflow: ellipsis; -moz-line-clamp: 1; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word;}
#news li a {color: #888888;}
#blog {margin-top: 21px; float: left; width: 178px;}
#blog h3 {font-family: 'Wemakeprice-Bold'; font-size: 14px; float: left;}
#blog span {height: 5px; margin-top: 5px; float: right;}
#blog dl {float: left; font-size: 13px; margin-top: 11px; color: #888888; letter-spacing: -1px; width: 100%;}
#blog dt strong {display: block; padding: 8px 0 7px 0;}
#blog dt.last {margin-top: 22px;}
#blog dd {line-height: 1.4;}
		

/* MAIN */
#main {
	margin: 0 220px 0 243px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	min-height: 1127px;
	background: #ffffff;
    box-sizing: border-box;
}
#img_bn_area {width: 100%; background: #323532; text-align: center;}
#search_area {background: #b38d62; padding: 15px; border-top: 1px solid #dddddd;}
#search_area .search_box {background: #ffffff; position: relative; padding: 11px; height: 27px;}
#search_area .search_box .tit_search {position: absolute; top: 18px; left: 15px; font-size: 13px;}
#search_area .search_box .input_box {margin-left: 110px; background: #d3ac72; height: 27px; border-radius: 3px;}
#search_area .search_box .input_box input {float: left; margin-left: -110px; width: 75%; color: #ffffff; height: 27px; border: none; padding-left: 10px; line-height: 27px; background: transparent;}
#search_area .search_box .input_box img {float: right;} 
#product {padding: 30px 30px 20px 30px; border-bottom: 1px solid #e9e9e9; overflow: auto;}
#product h2 {margin-bottom: 10px; font-family: 'Wemakeprice-Bold'; font-size: 25px; letter-spacing: -1px; font-weight: bold; position: relative;}
#product .btn_detail {right: 0px; top: 0px; position: absolute;}
#product .now {font-size: 13px; color: #666666; margin-right: 90px; letter-spacing: -1px; line-height: 16px;}
#product ul {margin-top: 20px;}
#product li {float: left; width: 93px; text-align: center; padding: 5px;}
#product li span {font-size: 13px; color: #666666; padding-top: 5px; display: block;}

#nutrition {width: 50%; float: left; padding: 30px 15px 35px 30px; box-sizing: border-box;}
#nutrition h2 {font-family: 'Wemakeprice-Bold'; font-size: 25px; letter-spacing: -1px; font-weight: bold; position: relative;}
#nutrition .btnMore {position: absolute; top: 0; right: 0;}
#nutrition .now {font-size: 13px; margin: 10px 0; text-align: center;}
#nutrition .now strong {font-family: Verdana; padding-left: 20px; color: #666666; line-height: 63px;}
#nutrition .nutritionTable {border-top: 1px solid #000000; border-bottom: 1px solid #000000; width: 100%; font-size: 12px; text-align: center; margin: 15px 0 10px 0; color: #ffffff;}
#nutrition .nutritionTable th {border-bottom: 1px solid #000000; background-color: #1a64a3; height: 24px; border-right: 1px solid #000000; line-height: 24px;}
#nutrition .nutritionTable td {height: 29px; border-right: 1px solid #000000; line-height: 29px; color: #666666;}
#nutrition .nutritionTable .topBorder {border-top: 1px solid #000000;}
#nutrition .nutritionTable .noBorder {border-right: none;}

#youtube {width: 50%; float: left; padding: 30px 30px 35px 15px; box-sizing: border-box;}
#youtube h2 {font-family: 'Wemakeprice-Bold'; font-size: 25px;  letter-spacing: -1px; font-weight: bold; position: relative;}
#youtube .btn_more {position: absolute; top: 0; right: 0;}
#youtube .now {font-size: 13px; color: #666666; margin: 8px 0 10px 0; clear: both;}
#youtube img {width: 100%;}
#youtube ul {margin-top: 10px;}
#youtube ul li {font-size: 12px; line-height: 18px; padding-left: 10px; background: url(../img/blit_list.png) no-repeat 2px 7px; color: #666666; overflow: hidden; width: 100%; display: -moz-box; display: -webkit-box; display: box; -moz-line-clamp: 1; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word;}
#youtube ul li span {font-family: Verdana; color: #ff0000;}
		
		
/* CONTENTS */
#contents {
	width: 220px;
	position: absolute;
	top: 0px;
	right: 0;
	background: #24bbaf;
}
#contents li img {width: 220px; height: 375px; margin-bottom: 1px;}


/* FOOTER */
#foot {
	clear: both;
	height: 120px;
	border-top: 1px solid #dddddd;
}
#foot_logo {float: left; width: 243px;}
#foot_logo img {margin: 25px 0 0 60px;}
#foot_area {float: left; border-left: 1px solid #e9e9e9; height: 120px;}
#foot_area .foot_menu {margin: 15px 0 0 30px;}
#foot_area .foot_menu a {font-size: 12px; color: #999999; margin-right: 12px;}
#foot_area .foot_menu a strong {color: #222222;}
#foot_area .foot_copy {font-size: 12px; color: #999999; margin: 10px 0 0 30px; line-height: 14px;}
#foot .right_area {float: right; width: 220px; height: 120px; border-left: 1px solid #e9e9e9;}


	
/* Media Query */
@media screen and (max-width: 1280px) { /* max-width: 1280px */
	#wrap {width: 95%; margin: 0 auto;}
}

@media screen and (max-width: 1024px) { /* max-width: 1024px */
	#wrap {width: 100%;}
	#main {margin: 0 0 0 243px; min-height: 0; border: none; background: none;}
    #product {background: #e8afa7; border-top: 1px solid #dddddd;}
    #product h2 {color: #522113;}
	#product .now {color: #fff;}
	#product li span {color: #fff;}
	#youtube {padding-bottom: 0;}
	#contents {margin: 0 0 0 243px; width: auto; position: relative; clear: left; overflow: auto; padding-bottom: 10px; background: #ffffff;}
	#contents li {border: none; float: left; width: 33.33%; height: 340px; overflow: hidden; padding: 10px 0 10px 0; box-sizing: border-box;}
	#contents li:nth-child(3) {width: 33.34%;}
	#contents li img {width: 100%; height: auto;}
	footer {margin: 0;}
    #foot .right_area {display: none;}
}

@media screen and (max-width: 768px) { /* max-width: 768px */
	#product li {width: 14%;}
	#search_area {padding: 5px;}
	#nutrition {padding-right: 30px; border-left: 0; float: none; width: 100%;}
	#youtube {padding: 0 30px 20px 30px; float: left; width: 100%;}
    #youtube > img {width: 200%;}
	#contents li {height: 240px;}
}

@media screen and (max-width: 600px) { /* max-width: 600px */
    body {background: url(../img/body_bg.jpg) repeat scroll 0 0;}
	#header {width: 100%; float: none; padding: 0; margin-top: 10px;}
    #header h1.logo {text-align: center; margin: 0; padding: 10px 0;}
    #header .nav {margin: 0; background: url(../img/body_bg.jpg) repeat; overflow: hidden; border-top: 1px solid #ffffff;}
    #header .nav li {float: left; width: 33.3%; text-align: center; font-size: 0.75em; border-right: 1px solid #ffffff; border-bottom: 1px solid #ffffff; background: none; transition: all 0.4s ease-in 0.3s; box-sizing: border-box;}
	#header .nav li:nth-child(3n+3) {width: 33.4%; border-right: none;}
    #header .nav a {display: block; width: 100%; border-bottom: none; color: #ffffff; text-shadow: 0 0 5px rgba(0,0,0,0.8); font-family: Verdana;}
	#tellnum {display: none;}
	#flow span, #news span, #blog span {display: none;}
	#flow {width: 100%; clear: both; float: left; margin-top: 10px;}
    #flow h3 {height: 23px; font-size: 0.75em; font-weight: bold; float: left; padding-left: 10px;}
	#flow .flow_list {clear: both; margin: 0 10px 0 10px;}
    #flow .flow_list li {float: left; padding: 0 6px 6px 0; margin: 0;}
    #flow .flow_list li.nth12 {padding-right: 0;}
	
	#news {width: 100%; clear: both; float: left; margin-top: 20px;}
    #news h2, #blog h3 {padding-left: 10px;}
	#news ul {clear: both; width: 100%;}
	#news li {border-bottom: 1px solid #dddddd; padding-left: 20px; background: url(../img/blit_list.png) no-repeat 12px 7px; line-height: 25px; height: 25px; box-sizing: border-box;}
	#news li:nth-child(3) {border-bottom: none; margin-bottom: 20px;}
	
	#blog {display: none;}
	
	#main {border-left: 0; margin: 0; clear: both;}
	#product {padding: 20px 10px 0 10px;}
	#product ul {width: 100%; overflow: auto;}
	#product ul li {width: 16.66%; padding: 5px 0;}
	#product ul li:nth-child(6n+6) {width: 16.7%;}
	#product h2 a {display: none;}
	#nutrition {padding: 20px 10px 10px 10px;}
	#nutrition .btnMore {display: none;}
    #nutrition .nutritionTable th {color: #ffffff; border: 0;}
    #nutrition .nutritionTable {border-top: 1px solid #265cff; border-bottom: 1px solid #265cff;}
    #nutrition .nutritionTable td {border-right: 1px solid #265cff;}
    #youtube {display: none;}
	
	#contents {margin: 0;}
    #contents li img {max-width: 100%; height: auto;}
	
	#foot {margin: 0;}
    #foot_logo {display: none;}
    #foot_area {text-align: center; width: 100%; height: 120px; border-left: 0;}
    #foot_area .foot_menu {display: block; margin: 30px 0 0 0;}
    #foot_area .foot_copy {font-size: 10px; color: #999999; margin: 10px 0 0 0; display: block;}
}

@media screen and (max-width: 480px) { /* max-width: 480px */
	#wrap {min-width: 300px;}
	#flow {display: none;}
	#product li{display: none;}
    #product li:nth-child(1) {display: block; width: 25%;}
    #product li:nth-child(2) {display: block; width: 25%;}
	#product li:nth-child(3) {display: block; width: 25%;}
	#product li:nth-child(4) {display: block; width: 25%;}
	#product {padding: 20px 10px 10px 10px;}
    #product .now {margin: 0;}
	#contents li {height: auto;}
}
























